# dependências
/node_modules
/.pnp
.pnp.js

# build do next.js
/.next/
/out/

# produção
/build

# arquivos de log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# arquivos de ambiente local (senhas e chaves)
.env*.local
.env

# outros
.DS_Store
*.pem
*.tsbuildinfo
next-env.d.ts
